
<div class="section section-transparent" *ngIf="language">
    <br><br><br>
    <div class="container">
        <div class="row">                    
            <div class="col-md-4 col-sm-6 ml-auto mr-auto">
            <div class="card reg-card ">
                <h3 class="card-title text-center">{{language.text_resetPassword}}</h3>
            
                <h6 class="card-title text-center">{{resetData.get('wbuser').value}}</h6>
                <br>
                <small class="pwdmsg text-muted">{{language.msg_passwordInst}}</small>
                <br><br>                   
                <form [formGroup]="resetData">   
                    <div class="input-group">                 
                        <input type="password" class="form-control" formControlName="password" placeholder="{{language.text_newPassword}}">
                        <div class="input-group-append">
                            <span class="input-group-text {{resetData.get('password').status=='VALID'? 'text-success':'text-muted'}}">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>    
                    <br>
                    <div class="input-group">
                        <input type="password" formControlName="cnfPassword" class="form-control border-input" placeholder="{{language.text_confirmPassword}}">
                        <div class="input-group-append">
                            <span class="input-group-text {{resetData.get('cnfPassword').status=='VALID' && resetData.get('cnfPassword').value==resetData.get('password').value? 'text-success':'text-muted'}}">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <br>
                    <button *ngIf="!resetData.invalid && resetData.get('cnfPassword').value==resetData.get('password').value" class="btn btn-block btn-round" (click)="resetPassword()">{{language.caption_resetPassword}}</button>
                </form>
                <div class="login" align="center">
                    <p>{{language.text_clickToLogin}}  <a href="javascript:void(0)" [routerLink]="['/account/login']" class="text-info">{{language.caption_logIn}}</a>.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
