.preview {
    max-height: 200px;
    overflow-y: scroll;
}

.drawing {
    box-shadow: none !important;
    border: solid 1px #66615b;
    background: #ececec2b;
}

.drawing:hover {
    box-shadow: none !important;
    transform: none !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    -moz-transform: none !important;
}



.wboard {
    background: #51cbce24 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.drawing-img{
    border-radius: 0 !important;
}

iframe {
    border:none;
    height:100vh;
}