.wboard {
    border: solid 1px rgb(155, 155, 155);
    border-bottom: none;
}
.wboard-bottom {
    background: #f7f7f7;
    padding:8px 10px 8px 15px;
    border: solid 1px rgb(155, 155, 155);
    border-top: none;
}

.wboard-bottom i {
    font-size: 25px;
}